.list {
  list-style-type: none;
  font-family: 'General Sans';
  font-weight: 500;
}

.author {
  display: flex;
  position: fixed;
  top: 96%;
  justify-self: start;
  font-weight: 500;
  font-size: 15px;
  padding-left: 1.25em;
  padding-right: 1.25em;
  color: #aaaaaa;
  mix-blend-mode: difference;
  height: 100%;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100dvh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateX(0);
  transition: transform 0.8s ease-in-out;
  z-index: -10;
}

.backgroundImage.active {
  transform: translateX(-100%);
  z-index: -8;
}

.backgroundImage.previous {
  transform: translateX(-200%);
  z-index: -9;
}

.homeMain {
  width: 100vw;
  height: 100dvh;
  display: flex;
  color: #b90000;
  font-weight: 500;
  font-size: 15px;
  padding-left: 1.25em;
  padding-right: 1.25em;
  padding-bottom: 4em;
}

.logo {
  display: none;
}

.homeMain p {
  line-height: 17px;
  position: fixed;
  display: flex;
  height: 100dvh;
  align-items: center;
  padding-right: 1.25em;
  z-index: -5;
}

@media only screen and (min-width: 600px) {
  .homeMain {
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .homeMain p {
    display: inline;
    position: relative;
    height: auto;
  }

  .logo {
    display: inline;
    width: 100%;
    height: auto;
  }

  .homeMain p {
    margin-top: 2em;
    font-size: 20px;
    width: 75%;
    align-self: start;
    line-height: 22px;
  }

  .author {
    font-size: 20px;
    line-height: 22px;
    padding-left: 1em;
  }
}

@media screen and (min-width: 992px) {
  .homeMain p {
    font-size: 20px;
    width: 50%;
    align-self: start;
    line-height: 22px;
  }
}
