.infoMain {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1.25em;
  padding-right: 1.25em;
  padding-top: 3.5em;
  padding-bottom: 1.25em;
  color: #b90000;
  font-size: 15px;
  line-height: 17px;
  font-weight: 500;
  overflow: hidden;
}

.infoBoldText {
  font-weight: 700;
}

.infoImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -10;
}

.lauraInfo,
.linaInfo,
.address {
  padding-bottom: 17px;
}

.author {
  font-weight: 500;
  font-size: 15px;
  color: #aaaaaa;
  mix-blend-mode: difference;
}

@media only screen and (min-width: 600px) {
  .infoMain {
    font-size: 20px;
    line-height: 22px;
    padding-left: 1em;
  }

  .author {
    font-size: 20px;
    line-height: 22px;
  }

  .lauraInfo,
  .linaInfo,
  .address {
    padding-bottom: 22px;
  }
}
