.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  max-height: 100vh;
}

.hero img {
  width: 100%;
}

.hero h1 {
  position: relative;
  top: -2em;
  padding-left: 20px;
  font-size: 40px;
  font-weight: 700;
  color: #b90000;
}

main {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3em;
  margin-top: -1em;
}

.description {
  color: #b90000;
  font-weight: 700;
  font-size: 20px;
}

main video {
  width: 100%;
}

main p {
  font-size: 15px;
  font-weight: 500;
  color: #000000;
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.links a {
  color: #000000;
}

.backButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.backButton a {
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  font-weight: 700;
}

iframe {
  width: 100%;
  height: 300px;
}

@media only screen and (min-width: 700px) {
  .hero img {
    object-fit: cover;
    max-height: 1024px;
  }

  .hero h1 {
    font-size: 100px;
    top: -1.5em;
  }

  .description {
    font-size: 40px;
  }

  main {
    margin-top: 3em;
  }

  main p {
    font-size: 20px;
  }

  .links a {
    font-size: 20px;
  }

  .backButton a {
    font-size: 100px;
  }

  iframe {
    height: 500px;
  }
}

@media only screen and (min-width: 1024px) {
  iframe {
    height: 700px;
  }
}

@media only screen and (min-width: 1400px) {
  iframe {
    width: 80%;
  }
}
