* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.main {
  position: fixed;
  width: 100%;
  z-index: 4;
}

.nav {
  width: 100%;
  height: 3.5em;
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding: 1.25em;
}

.logoNav {
  height: 16px;
  width: 200px;
}

.burgerMenu {
  height: 1em;
  width: 1.25em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}

.burgerBar {
  width: 1.25em;
  height: 0.13em;
  background-color: #b90000;
  transition: transform 0.5s;
}

.menu {
  width: 0;
  height: 14em;
  position: absolute;
  top: 3em;
  right: 0;
  overflow: hidden;
  transition: width 0.3s ease;
}

.menuItems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  font-weight: 500;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.menuItems li {
  margin: 0.6em 0;
  padding-right: 0.5em;
  width: 8em;
  text-align: end;
  transition: border 0.3s;
}

.menuItems li a {
  text-decoration: none;
  font-size: 15px;
  color: #b90000;
}

.menuItems a:hover {
  border-bottom: 2px solid #b90000;
}

.menuItems a:active {
  color: #b90000;
}

.hidden {
  width: 0;
}

.visible {
  width: 10em;
}

.visible .menuItems {
  opacity: 1;
}

.burgerBar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.35em, 0.35em);
  background-color: #000000;
  transition: ease-out 0.3s;
}

.burgerBar.clicked:nth-child(2) {
  background-color: #000000;
  transform: scale(0.1);
  transition: ease-out 0.2s;
}

.burgerBar.clicked:nth-child(3) {
  background-color: #000000;
  transform: rotate(135deg) translate(-0.3em, 0.3em);
  transition: ease-out 0.3s;
}

.burgerBar.unclicked {
  transform: rotate(0) translate(0);
  background-color: #b90000;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}

@media only screen and (min-width: 360px) {
  .logoNav {
    height: 18px;
  }
}

@media only screen and (min-width: 600px) {
  .burgerMenu {
    display: none;
  }

  .menu {
    width: 50%;
    top: 0;
    height: 3.5em;
    overflow: auto;
  }

  .menuItems {
    flex-direction: row;
    justify-content: flex-end;
    opacity: 1;
  }

  .menuItems li {
    text-align: center;
    padding-right: 0;
    margin: 0;
    padding-top: 1em;
  }
}

@media only screen and (min-width: 700px) {
  .menuItems li a {
    font-size: 20px;
  }
}
