.main {
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.fadeOut {
  opacity: 0;
}

.list {
  list-style: none;
  padding: 20px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.isActive {
  color: #b90000;
  cursor: pointer;
  font-weight: 700;
  font-size: 40px;
  height: 54px;
  border-bottom: 4px solid #b90000;
}

.notActive {
  color: rgba(185, 0, 0, 0.4);
  cursor: pointer;
  font-weight: 700;
  font-size: 40px;
  height: 54px;
  transition: color 0.3s ease-out;
}

.notActive:hover {
  color: #b90000;
}

@media only screen and (min-width: 800px) and (min-height: 670px) {
  .isActive {
    font-size: 80px;
    line-height: 80px;
    border-bottom: 6px solid #b90000;
    height: 82px;
  }

  .notActive {
    font-size: 80px;
    line-height: 80px;
    height: 82px;
  }

  .list {
    list-style: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

@media only screen and (min-width: 1200px) and (min-height: 900px) {
  .isActive {
    font-size: 100px;
    line-height: 100px;
    border-bottom: 8px solid #b90000;
    height: 102px;
  }

  .notActive {
    font-size: 100px;
    line-height: 100px;
    height: 102px;
  }

  .list {
    list-style: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
